---
import { getCollection } from 'astro:content';
import FormattedDate from '@/components/FormattedDate.astro';
import Document from '@/layout/Document.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Document title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <ul class="flex flex-col gap-2">
    {
      posts.map((post) => (
        <li class="flex gap-2">
          <a href={`/blog/${post.id}/`}>
            <h4>{post.data.title}</h4>
          </a>
          <p>
            <FormattedDate date={post.data.date} />
          </p>
        </li>
      ))
    }
  </ul>
</Document>
